html {
    background-color: #FFB3C6;
    font-family: monospace;
}

table,
th,
td {
    background: #FFB3C6;
    border: 2px solid #FB6F92;
    font-size: 2rem;
}

th {
    color: #f62559;
}

td {
    color: #FFE5EC;
}


button {
    background-color: #FFE5EC;
    color: #f62559;
    padding: 16px 32px;
    border: #f62559 2px solid;
    border-radius: 64px;
    text-decoration: none;
    margin: 20px 32px;
    font-size: 1rem;
    font-weight: 700;
}

button:hover {
    box-shadow: 5px 5px #f62559;
}


section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 32px;
}