input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* No centrering */
body {
    height: 100vh;
    background: var(--bodybg);
    font-family: monospace;
    color: var(--textcolor);
    margin: 40px 80px;
    padding: 0;
}

header {
    background: var(--mainbg);
    border: var(--border);
    padding: 20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

label {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    margin-left: 230px;

}

select {
    padding: 8px;
    border: var(--border);
    background: var(--mainbg);
    font-size: 1rem;
    font-family: monospace;
    color: var(--textcolor);
    font-weight: bold;
}

main {
    background: var(--mainbg);
    border: var(--border);
}

main figure {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20rem;
    margin: 0 auto;
    color: var(--textcolor);
}

footer {
    background: var(--mainbg);
    border: var(--border);
    font-size: 2rem;
    text-align: left;
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
}