[data-filter="light"] {
    --bodybg: black;
    --border: 8px solid #a71814;
    --mainbg: #222222;
    --textcolor: white;
}



[data-filter="dark"] {

    --bodybg: black;
    --border: 8px solid #a71814;
    --mainbg: #222222;
    --textcolor: white;
}



[data-filter="hawaii"] {
    --bodybg: black;
    --border: 8px solid #a71814;
    --mainbg: #222222;
    --textcolor: white;
}